 <html>
<head>
<title> Welcome to Dina's website! </title>
<link rel="stylesheet" type="text/css" href="../static/styling.css">
</head>


<body>
<div id="maindiv">
 <nav align="center">
  <img src="dina1.jpg"/>
  <a href="{{url_for('home')}}"> home</a> 
  <a href="{{url_for('contactme')}}"> contact me</a>
</nav> 
 

 <div>
 <h1><ul>My hobbies are:
 <li>Swimming </li>
 <li>Reading</li>
   </ul> </h1>

   
   
   
   
 <h1> These are my favorite books:</h1>
 <table>
  <tr>
    <th>book</th>
    <th>author</th>
  </tr>
  <tr>
    <td>The Maze Runner</td>
    <td>James Dashner</td>
  </tr>
<tr>
    <td>Divergent</td>
    <td>Veronica Roth</td>
  </tr>
<tr>
    <td>The Mortal Instuments</td>
    <td>Cassdandra Clare</td>
  </tr> 
</table>
<h1> My favorite colors are GREEN and  BLUE</h1> 
<h1>if that isn't so obvious I don't know what is :P</h1> 
</div>
</div>

 


</body>

</html> 
