<html>

<head>
<title> Welcome to Dina's website! </title>
<link rel="stylesheet" type="text/css" href="../static/styling.css">
</head>

<body>
 <div align="center">
 <nav>
  <img src="dina1.jpg"/>
  <a href="{{url_for('aboutme')}}"> about me </a> 
  <a href="{{url_for('contactme')}}"> contact me</a>
</nav>
</div>
 
 <div align="center">
<h1>hello!</h1>
<h1>Welcome to the home page...</h1>
<h2>Hey all! It's DINA </h2>
<h2>If you want to get to know me more you can always visit the 'about me' page</h2>
 
 
</div> 


</body>



</html>
